
add_library( crea_jsonball
   mm_ticks.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/crea/jsonball/jsonball.hpp
)

target_link_libraries( crea_jsonball fc )

target_include_directories( crea_jsonball PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include" )

INSTALL( TARGETS
   crea_jsonball

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
